# **üìÅ Import Libraries & Load Data**

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
data = sns.load_dataset('mpg')
data = data.dropna()
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# **‚öôÔ∏è Set Up PyCaret for Regression**

In [3]:
from pycaret.regression import *

regression_setup = setup(
    data=data,
    target = 'mpg',
    session_id = 123,
    verbose = False
)

# **üìä Compare and Train All Models**

In [4]:
best_model = compare_models()

# **üß™ Evaluate the Best Model**

In [5]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin‚Ä¶

# **üíæ Finalize and Save the Model**

In [6]:
final_model = finalize_model(best_model)

save_model(final_model, 'best_regression_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['cylinders', 'displacement',
                                              'horsepower', 'weight',
                                              'acceleration', 'model_year'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['origin', 'name'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['origin'],
                                     transformer=OneHotEncoder(cols=['origin'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['name'],
                                     transformer=TargetEncoder(cols=['name'],
                                                               handle_missing='return_nan'))),
                 ('actual_estimator', ElasticNet(random_state=123))]),
 'best_regression_model.pkl')

# **üß™ Make Predictions on New or Existing Data**

In [7]:
predictions = predict_model(final_model,data=data)

In [8]:
predictions.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,mpg,prediction_label
0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,18.0,16.144479
1,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,15.0,14.555648
2,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,18.0,16.536915
3,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,16.0,16.182147
4,8,302.0,140.0,3449,10.5,70,usa,ford torino,17.0,16.354570